<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Hoteles Guanacastecos</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div style="display: flex; justify-content: center; align-items: center; height: 100%; text-align: center;">
            <h1 style="color: white;">!Reserva hecha con éxito! Disfrute su estadía en uno de nuestros hoteles...</h1>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>
